// @import "../../node_modules/material-ui-sass/material-ui";
// @import "../../node_modules/material-ui-sass/material-ui/_html";

@import (inline) "../../node_modules/semantic/dist/semantic.min.css";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

//Your custom app styles
.example-page {
  margin: auto;
  padding: 50px;
  width: 60%;
  text-align: center;
}

#task-list {
  margin: 20px auto;
  text-align: left;

  label {
    display: block;
  }
}

.task-item {
  list-style-type: none;
}